*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
metals.sbt
.metals
.bloop
.ammonite
.bsp

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
.vscode
assets/
.attach_pid*
hs_err_pid*
*.db
/app/